@use '../util' as *;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--font-family);
    background: var(--gray-100);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: to-rem(15);
}
// ## Typography

// ### Body Copy

// - Font size (inputs): 32px
