@use '../util' as *;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--font-family);
    background: var(--gray-100);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: to-rem(15);
}
.visually-hidden {
    position: absolute;
    inset-inline-start: to-rem(-10000); 
    top: auto;
    width: to-rem(1);
    height: to-rem(1);
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
