:root {
    // PRIMARY
    --purple-500: hsl(259, 100%, 65%);
    --red-400: hsl(0, 100%, 67%);
    // NEUTRAL
    --white: hsl(0, 100%, 100%);
    --gray-100: hsl(0, 0%, 94%);
    --gray-200: hsl(0, 0%, 86%);
    --gray-500: hsl(0, 1%, 44%);
    --black: hsl(0, 0%, 0%);
}